
<div class="jumbotron center">
  <div class="container">
  <h1>Welcome fish </h1>
    <%= image_tag("home.jpg", class: "img-responsive")%>
  <h2>Lorem ipsum</h2>
  <%= link_to image_tag("ror_logo.jpg", alt: "Rails", size: "150x100"), 'http://rubyonrails.org' %>
  </div>

</div>
