
<!DOCTYPE html>
<html>
<head>
	<title>about</title>
</head>
<body>
<h1> smth </h1>

<p> Компания «Аква-Арт» специализируется на морских аквариумах, оборудовании для них, морских рыбах и беспозвоночных.

Мы можем предложить создание любой аквасистемы – от самых простых бюджетных решений до эксклюзивных моделей.

Большой опыт практической работы позволяет выполнять заказы качественно и рекомендовать нашим клиентам проверенное, надежное аквариумное оборудование, материалы и комплектующие. Мы не только продаем аквариумы ведущих производителей, но и производим аквариумы из силикатного стекла.
</p>

</body>
</html>
